@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background: url(https://images.all-free-download.com/images/graphiclarge/paper_background_186194.jpg);
    padding: 100px 0;
}
h3 {
    font-size: 30px;
    font-width: bold;
    margin-bottom: 20px;
}
.container {
    width: 800px;
    min-height: 500px;
    border: 10px solid white;
    margin: 0 auto;
    background: white;
}
.header {
    display: flex;
    height: 150px;
}
.title-block {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    font-size: 30px;
    background: url('https://besthqwallpapers.com/Uploads/23-7-2020/138001/thumb-black-satin-background-4k-silk-textures-satin-wavy-background-black-backgrounds.jpg') no-repeat center center / cover;
    margin-right: 10px;
    color: white;
}
.userpic {
    display: flex;
    width: 20%;
    height: 100%;
    background: url('https://ae01.alicdn.com/kf/HTB1N33Mpv9TBuNjy0Fcq6zeiFXaY/-.jpg_q50.jpg') no-repeat center center / cover;
}
.nav ul {
    display: flex;
    background: rgb(230,230,230);
    margin: 10px 0;

}
.nav li a {
    padding: 20px;
    display: flex;
    text-decoration: none;
    color: black;
    font-weight: bold;

    transition: background .5s ease;
}
.nav li a:hover {
    background: rgb(196,196,196);
}
.content-wrapper {
    display:flex;
}
.content {
    width: 100%;
    padding: 20px;
}
.content p {
    line-height: 20px;
}
.sidebar {
    width: 30%;
    padding: 20px;
}
.skills li {
    padding: 10px 0;
    transition: transform .5s ease;
    cursor: pointer;
}
.skills li:hover {
    transform: translateX(10px);
}